body{
    min-height: 100vh;
    background: linear-gradient(120deg, #000000, #16002a);
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}
   

Pr{
    background: linear-gradient(135deg, #4285F4, #8B5CF6, #EC4899);
    background-clip: text;
    color: transparent;
}

h1{
    color: #ffffff;
    font-size: 50px;
}


#photo{
   
   display: none;

   
}

label{
   width: 100%;
   height: 100%;
   padding: 0;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   
}

.Upload-image{
    
    height: 450px;
    width: 450px;
    border: 2px dashed rgb(0, 90, 115);
    color: #ffffff;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(145deg, #000000, #1a0033,rgb(45, 3, 3));
}

.Upload-image:hover{
    border-color: rgb(0, 171, 228);
     filter: drop-shadow(1px 1px 1px #130080);
    transition: 1s;
    
    
}

#logo{

    width: 100px;
    height: 100px;
    animation:rotate 25s linear infinite;
       
    
}


.text{
    
    color: #ffffff;
    margin-left: 50px;
    filter: drop-shadow(3px 3px 5px #444444);
}





.Titel{
    display: flex;
    align-items: center;
    gap: 10px;
    filter: drop-shadow(3px 3px 5px #444444);
    
    
}


.container1 {
   margin-top: 5px;
   margin-left: 30px;
   height: 250px;
   
}

.container2{
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}


.result{
    width: 450px;
    color: #ffffff;
    display: flex;
   justify-content: center;
   gap: 100px;
    
    
   
}

@keyframes rotate{
        from {
            transform: rotate(0deg)
        }
        to {
            transform: rotate(360deg)
        }
    }


    