body{
    min-height: 100vh;
    background: linear-gradient(120deg, #000000, #16002a);
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}
   

Pr{
    background: linear-gradient(135deg, #4285F4, #8B5CF6, #EC4899);
    background-clip: text;
    color: transparent;
}

h1{
    color: #ffffff;
    font-size: 50px;
}

  
label{
    color: #ffffff;
    font-size: 20px;
    background: linear-gradient(135deg, #4285F4, #8B5CF6, #EC4899);
    background-clip: text;
    color: transparent;
    cursor: pointer;
    filter: drop-shadow(3px 3px 5px #444444);
}

#image{
    display: none;
}




#photo{
   
   display: none;

   
}








#logo{

    width: 100px;
    height: 100px;
    animation:rotate 25s linear infinite;
       
    
}


.text{
    
    color: #ffffff;
    margin-left: 50px;
    filter: drop-shadow(3px 3px 5px #444444);
}





.Titel{
    display: flex;
    align-items: center;
    gap: 10px;
    filter: drop-shadow(3px 3px 5px #5d5c5c);
    
    
}


.container1 {
   margin-top: 5px;
   margin-left: 30px;
   height: 250px;
   
}

.container2{
   margin-top: 70px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}


.result{
    width: 450px;
    color: #ffffff;
    display: flex;
   justify-content: center;
   gap: 100px;
    
    
   
}

@keyframes rotate{
        from {
            transform: rotate(0deg)
        }
        to {
            transform: rotate(360deg)
        }
    }


    